@{
    ViewData["Title"] = "Home Page"; 
}

<div class="text-center def-padd">
    <h2 class="display-4">Welcome to the admin panel</h2>
    @Html.ActionLink("Sign in", "Login", null, null, new { @id="nav-btn" })
</div>