@using ClassJournal.AppCore.Models;
@model LoginCredentials;

<form action="@Url.Action("PostLogin")" method="post">
    <div class="horizontal-center">
        <div class="imgcontainer">
            <img src="/Images/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="Email"><b>Email</b></label>
            <input type="text" asp-for="Email" class="uEmail" placeholder="Enter Email" name="Email" style="border-radius:8px;" required>

            <label for="Password"><b>Password</b></label>
            <input type="Password" asp-for="Password" class="uPassword" placeholder="Enter Password" name="Password" style="border-radius:12px;" required>

            @Html.ActionLink("Login", null, null, null, new { @class="button submit-btn" })
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container">
            @Html.ActionLink("Cancel", "Index", null, null, new { @class="button cancel-btn" })
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".submit-btn").click(function () {
                @Model creds = new Object();
                creds.Email = $(".uEmail").val();
                creds.Password = $(".uPassword").val();
                event.preventDefault();

                $.ajax( {
                    type: "POST",
                    url: "@Url.Action("PostLogin")",
                    contentType: "application/json",
                    data: JSON.stringify(creds),
                    success: function (response) {
                        window.location.href = response.redirectToUrl;
                    },
                    error: function (response) {
                        window.location.href = response.redirectToUrl;
                    }
                });
            });
        });
    </script>
}