
<form action="action_page.php" method="post">
    <div class="horizontal-center">
        <div class="imgcontainer">
            <img src="/Images/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" style="border-radius:8px;" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" style="border-radius:12px;" required>

            @Html.ActionLink("Login", "Index", null, null, new { @class="button submit-btn" })
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container">
            @Html.ActionLink("Cancel", "Index", null, null, new { @class="button cancel-btn" })
        </div>
    </div>
</form>