body {
    background-color: #eeeeee;
}

.button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
}

    .button:hover {
        color: white;
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 4px #d7d7d7;
    }

#nav-btn {
    background-color: #a0d1b6;
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin: 40px 2px 4px;
    border-radius: 12px;
}

    #nav-btn:hover {
        background-color: #67ab05;
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 4px #a0d1b6;
    }

.cancel-btn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    display: inline-block;
    margin: 4px 2px;
}

.submit-btn {
    display: inline-block;
    background-color: #67ab05;
}

@media (max-height:1500px) and (min-height:700px) {
    .def-padd {
        padding-top: calc(50px + (100vw - 700px) * (50 - 100) / (700 -  1000));
        padding-bottom: calc(50px + (100vw - 700px) * (50 - 100) / (700 -  1000));
    }
}

form {
    border: 3px solid #f1f1f1;
    width: 70%;
}

footer {
    margin-top: 40%;
}

.horizontal-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}